Ref: https://data-challenge.lighthouselabs.ca/challenge/11

### **Day 11: *Advanced Group By Uses in Pandas***

Taking a break from looking at property prices, Dot went outside to enjoy a classic Emirati breakfast. At a quaint restaurant, they had a delicious plate of shakshuka, or poached eggs with tomatoes, olive oil, onion, and garlic, and a side of khameer bread, a soft, sweet loaf with dates, fennel, saffron, and cardamom. Getting up from their chair with a full belly and a feeling of satisfaction, Dot summoned a taxi and directed the driver to take them over to Dubai Mall, the second-largest mall in the world! 

The car pulled up to a massive complex, several stories tall and stretching across for miles, with the look of many different buildings mashed up together, surrounded by a large, glimmering pool of water with a fountain. Inside, Dot looked around in wonder at the several levels of stores that seemingly went on for eternity. It was like an enclosed city in itself, with different neighbourhoods of different types of stores and amenities. Dot journeyed over to the large indoor aquarium and spent most of the day staring happily at the manta rays, sharks, and fish. They successfully avoided spending too much money – after all, they needed to save considering the cost of the trip itself. Dot returned to the hotel with an even warmer feeling about Dubai at the end of a happy day. “I could get used to living here,” they said. “Let me look at these property prices again…” Can you help Dot figure out more information about property prices in Dubai?

### Tutorial
Within pandas, one of the most essential and useful functions for data analysis is the group by function. During this challenge, we are going to take a look at more complex group by uses.

You might have noticed that the aggregate functions we used with group by yesterday were always applied to all columns. But what if we wanted to apply different functions to different columns? Do we need to do each column individually? If you think there’s a more efficient way, you’re correct. Pandas has a better way. 

```python
import pandas as pd
df = pd.read_csv('dubai_properties_data.csv')

# old way - averages of both columns were computed for each neighborhood
df.groupby(['neighborhood'])[["price","price_per_sqft"]].mean()

# new way - using the aggregate function .agg()
df.groupby(['neighborhood']).agg({'price' : 'mean', 'price_per_sqft' : 'max'})
```

We can use the aggregate function **.agg()** to select the aggregation we want to do for each column. We are using a Python dictionary as a parameter of the **.agg()** function, where the keys of the dictionary are column names, and the values are functions we want to apply. Furthermore, we can even do two aggregations on one column:

```python
df.groupby(['neighborhood']).agg({'price' : ['mean','max']})
```

You can visit [the documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.DataFrameGroupBy.aggregate.html?highlight=groupby%20sum) to have more examples of how to use groupby together with the **.agg()** function.

In [1]:
import pandas as pd
df = pd.read_csv('dubai_properties_data.csv')
df.head()

,id,neighborhood,latitude,longitude,price,size_in_sqft,price_per_sqft,no_of_bedrooms,no_of_bathrooms,quality,...,private_pool,security,shared_gym,shared_pool,shared_spa,study,vastu_compliant,view_of_landmark,view_of_water,walk_in_closet
0,5528049,Palm Jumeirah,25.113208,55.138932,2700000,1079,2502.32,1,2,Medium,...,False,False,True,False,False,False,False,False,True,False
1,6008529,Palm Jumeirah,25.106809,55.151201,2850000,1582,1801.52,2,2,Medium,...,False,False,True,True,False,False,False,False,True,False
2,6034542,Jumeirah Lake Towers,25.063302,55.137728,1150000,1951,589.44,3,5,Medium,...,False,True,True,True,False,False,False,True,True,True
3,6326063,Culture Village,25.227295,55.341761,2850000,2020,1410.89,2,3,Low,...,False,False,False,False,False,False,False,False,False,False
4,6356778,Palm Jumeirah,25.114275,55.139764,1729200,507,3410.65,0,1,Medium,...,False,True,True,True,True,False,False,True,True,False

### Challenge

**Using the functions described above, which neighborhood has the biggest difference between maximum and minimum property price?**

In [2]:
# 1. aggregate prices
prices_df = df.groupby(['neighborhood']).agg({'price' : ['max','min']})

# 2. compute ranges for each neighbourhood
ranges = prices_df.price['max'] - prices_df.price['min']

# 3. return result
print(ranges.idxmax())

Palm Jumeirah

### Answer

Palm Jumeirah

![Challenge 11 Solved](https://data-challenge.lighthouselabs.ca/img/badges/badge11@72x.png)