Ref: https://data-challenge.lighthouselabs.ca/challenge/13

### **Day 13: *Simple Plots in Pandas*** 

After solving the mystery of Australia’s seasons and spending some time on the continent’s west coast, Dot moved across “the land Down Under” towards the opposite coast. They crossed the arid Outback on a plane over a land populated by dingos, wallabies, bilbies, and skinks. Though they wished they could see the region's wildlife, they were glad they could pass over it in the comfort of a plane – being in the desert seemed a bit frightening! So they decided to view the wildlife in a slightly less direct way and take a trip over to the Melbourne Zoo. After landing in Melbourne, they headed north of the city for a day trip. 

Arriving at the zoo and buying a ticket, Dot excitedly ran to the Australian bush section. They looked with wonder at animals native to Australia over a safe distance, with trained professionals around. Dot waved hello at some cute koala bears, fawning over their little eyes and big noses. They lingered around the kangaroo exhibit, watching the bipedal marsupials hop and jump inside their enclosure. They spent some time looking with a curious gaze at the sneaky Tasmanian devils, which looked devilish with their tiny rodent faces and long teeth. After a day under the sun, Dot was exhausted and ready to sit down and rest. Exiting the zoo, they looked down at their hands and saw how cracked their skin was. “Wow, Australia sure is dry!” they exclaimed aloud. Between the expanses of desert and the arid climate, it seemed to them that the continent probably didn’t get much rainfall. But Dot wasn’t the kind of person to take an idle observation for fact; they wanted to know what Australia’s climate was like. So let’s examine a dataset with Dot to see whether the weather in Australia is ever rainy.

### Tutorial
In today's challenge, we will take a look at another powerful feature of Pandas, plotting.

```python
import pandas as pd

# we load the DataFrame
df = pd.read_csv('aus_weather.csv')
df.head()

# we can call plot() method directly on the column we want to show
df["MaxTemp"].plot()
```

We can observe the values of the DataFrame’sindex on the x axis, and the values of the MaxTemp variable on the y axis. If we want the x axis to show something else, we can set those values as the index of our DataFrame.


```python
df_date = df.set_index("Date")
df_date.head()
```

Observe the difference between `df_date` and `df`.

```python
df_date[df_date['Location'] == 'Albury']["MaxTemp"].plot(kind='line')
```

Using the parameter *kind* in the **.plot()** method we can change the type of the plot.


- `kind='line'` : line chart (default value)
- `kind='box'` : boxplot
- `kind='hist'` : histogram
- `kind='bar'` : bar chart


Play around with the commands above and observe the outputs.

We can visit [this article](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html#) for more information about basic plotting in Pandas.

In [1]:
import pandas as pd
df = pd.read_csv('aus_weather.csv')
df = df[df["Location"] == "Melbourne"]
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Sunshine,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,month,season
67200,2008-07-01,Melbourne,9.5,15.4,2.0,7.0,37.0,35.0,60.0,38.0,1.0,7.0,11.0,14.6,Yes,7,winter
67201,2008-07-02,Melbourne,11.0,14.5,0.6,4.0,30.0,35.0,66.0,52.0,7.0,4.0,11.8,13.7,No,7,winter
67202,2008-07-03,Melbourne,8.4,14.1,1.4,0.8,17.0,24.0,72.0,58.0,7.0,7.0,10.6,13.9,Yes,7,winter
67203,2008-07-04,Melbourne,9.1,14.5,0.6,4.2,9.0,7.0,87.0,49.0,7.0,6.0,10.2,13.1,No,7,winter
67204,2008-07-05,Melbourne,4.3,15.5,0.0,8.4,24.0,30.0,81.0,52.0,2.0,5.0,5.5,14.6,No,7,winter

### Challenge
Use the Pandas plot function to answer these two questions:

1. **Using a histogram, what is the most likely temperature at 9am (Temp9am) in Melbourne?**
2. **Using a boxplot, does it ever rain (using variable Rainfall) in Melbourne? If yes, what was the highest daily amount recorded?**